* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
header {
  padding: 8px;
  margin-bottom: 1rem;
  background-color: darkgrey;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slideshowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slides > img {
  max-height: 75vh;
  max-width: 100vw;
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  top: 4%;
  left: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  color: darkkhaki;
}
button {
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  background: rgba(0, 0, 0, .3);
  color: white;
}
button:hover {
  background: rgba(3, 3, 3, .8);
}
.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 0 8px 8px 0;
}
.display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 8px 0 0 8px;
}