* {
  margin: 0;
  padding: 0;
}
header {
  padding: 8px;
  background-color: lightblue;
}
header > h1 {
  margin-bottom: 1rem;
}
button {
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: lightgrey;
  font-size: 1rem;
}
#menuContainer {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
}
.menu {
  padding: 4px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  height: 0px;
  visibility: hidden;
  border: 1px solid black;
  border-radius: 8px;
  
}