* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 8px;
  margin-bottom: 6rem;
  background-color: grey;
}
button {
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: lightgrey;
  font-size: 1rem;
}
#menuContainer {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
}
.menu {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 0;
  overflow: hidden;
  border-radius: 0 0 8px 8px;  
  padding: 4px;
  background-color: grey;
  transition: max-height .7s;
}
.slideshowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slides > img {
  height: 512px;
}
.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
}
.display-right {
  position: absolute;
  top: 50%;
  right: 0%;
}