* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 8px;
  background-color: lightblue;
}
header > h1 {
  margin-bottom: 1rem;
}
button {
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: lightgrey;
  font-size: 1rem;
}
#menuContainer {
  padding-left: 16px;
  display: flex;
  flex-direction: row;

}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 0;
  overflow: hidden;
  background-color: grey;
  transition: max-height .2s;
}